{% extends 'web_project_app/base.html' %}

{% load static %}

{% block content %}

<br>
<br>
<br>
<div class="contenedorformulario", style=" background-color: rgba(194, 147, 238, 0.829)">

 

    <form action="" method="POST" style="text-align: center;">
        {% csrf_token %}
        <table style="color: #4fcc78;; margin: 10px auto;">{{miformulario.as_table}}</table>
        <input type="submit" value="Enviar" style="width: 150px;"> 
    </form>

    {% if "valido" in request.GET %}

        <P style="color: white">La información se envio correctamente.</P>
        
    
    {% endif %}

</div>
<br>
<br>
<p style="color: snow;">{{request.POST}}</p>

{% endblock %}