{% extends 'web_project_app/base.html' %}

{% load static %}

{% block content %}

   <div margin="auto">
    <br>
    <br>
    <br>
    
      <h2 class="font-weight-bold" style="color:white;"> Escucha Nuestro ultimo Podcast ⬇</h2>
      <br>

      <iframe width="1500" height="1000" src="https://www.youtube.com/embed/Vv-LdSm5gO4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <br>
      <br>
      <br>   <br>
      

   </div>

  

    
      {% endblock %}


   