{% extends 'web_project_app/base.html' %}

{% load static %}

{% block content %}





    <html>
        <br>
        <br>

        <div class="card" style="background-color: black; width: 60%; border: solid;" >
            <br>
            <h1 class="font-weight-bold" align="left" style="margin: -10px 10px 10px; color: DCF82E; width: 500px;">  ROOM+006 "Pump Fiction" </h1>

            <iframe width="100%" align="left" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1523245345&color=%238e52de&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"></div>
        </div>
        <br>
        <br>
        <div class="card" style="background-color: black; width: 60%; border: solid;" >
            <br>
            <h1 class="font-weight-bold" align="left" style="margin: -10px 10px 10px; color: 6AFFDB; width: 500px;">ROOM+005 "FUCK YOUTH" </h1>

            <iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1483896649&color=%235feee0&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/roomarg" title="ROOM." target="_blank" style="color: #cccccc; text-decoration: none;"></div>
        </div>
        <br>
        <br>
        <div class="card" style="background-color: black; width: 60%; border: solid;" >
            <br>
            <h1 class="font-weight-bold" align="left" style="margin: -10px 10px 10px; color: F27A09; width: 500px;">ROOM+004 "Humanos" </h1>

            <iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1440242122&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"></div>
        </div>
        <br>
        <br>
        <div class="card" style="background-color: black; width: 60%; border: solid;" >
            <br>
            <h1 class="font-weight-bold" align="left" style="margin: -10px 10px 10px; color: 46226E; width: 800px;">ROOM+003 "El futuro es ilusorio" </h1>

            <iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1354535005&color=%231a1817&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"></div>
        </div>
        <br>
        <br>
        <div class="card" style="background-color: black; width: 60%; border: solid;" >
            <br>
            <h1 class="font-weight-bold" align="left" style="margin: -10px 10px 10px; color: C7403E; width: 800px;">ROOM+002 "Hiperrealismo" </h1>

            <iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1310286424&color=%23ed2626&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"></div>
        
        </div>
        <br>
        <br>
        <div class="card" style="background-color: black; width: 60%; border: solid;" >
            <br>
            <h1 class="font-weight-bold" align="left" style="margin: -10px 10px 10px; color: 601977; width: 800px;">ROOM+001 "Fue" </h1>

            <iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1280293081&color=%235d4155&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"></div>
        
        </div>
        <br>
        <br>
    <body>

        


    </body>


    </html>

    {% endblock %}